@using WebApp.Resources.Design;
@using WebApp.App_Code.Base;
@using System.Globalization;
@model ClockStore.DTO.Product

@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="@FileManager.ImageHandler(Model.FileId)">
                                    <div class="thumb-image"> <img src="@FileManager.ImageHandler(Model.FileId)" data-imagezoom="true" class="img-responsive" alt="@Model.ProductName" /> </div>
                                </li>
                                @{
                                    foreach (var item in Model.ExtraImages)
                                    {
                                        <li data-thumb="@FileManager.ImageHandler(item.FileId)">
                                            <div class="thumb-image"> <img src="@FileManager.ImageHandler(item.FileId)" data-imagezoom="true" class="img-responsive" alt="@Model.ProductName" /> </div>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script src="~/Scripts/js/imagezoom.js"></script>
                        <script defer src="~/Scripts/js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />

                        <script>
                            // Can also be used with $(document).ready()
                            $(window).load(function () {
                                debugger;
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails"
                                });
                                if ('@TempData["s"]' === "null") {

                                }

                                if ('@TempData["s"]' === "Added") {
                                    alertify.alert("Selected Item Added To Cart");

                                }
                                if ('@TempData["s"]' === "Failed") {
                                    alertify.alert("Failed");

                                }
                                $(".flex-direction-nav").remove();
                            });

                        </script>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="single-para simpleCart_shelfItem">
                            <h2>@Model.ProductName</h2>
                            <div class="star-on">

                                @{
                                    if (Model.Count <= 0)
                                    {
                                        <div class="review">
                                            <a href="#">This item is not available</a>

                                        </div>
                                    }
                                }

                                <div class="clearfix"> </div>
                            </div>

                            <h5 class="item_price">
                                @{
                                    if (Model.Off > 0)
                                    {
                                        <s>@Design.PriceSign @Model.Price.ToString("N0")</s>
                                        <span id="price">@Design.PriceSign @Model.PriceWithOff.ToString("N0")</span>

                                    }
                                    else
                                    {
                                        <span id="currentprice">@Design.PriceSign @Model.Price.ToString("N0")</span>
                                    }
                                }
                            </h5>
                            <p>@Model.Description</p>

                            <a href="/Products/AddCart?id=@Model.ProductId" class="add-cart item_add">@Design.ADDTOCART</a>



                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
            @{
                if (CultureInfo.CurrentCulture.Name == "fa-IR")
                {
                    <script src="~/Scripts/js/jQuery.persianNumbers-1.0.js"></script>
                    <script>
                        $(document).ready(function () {

                            var s = $.persianNumbers($("s").text());
                            $("s").text(s);

                            var price = $.persianNumbers($("#price").text());
                            $("#price").text(price);

                            var currentprice = $.persianNumbers($("#currentprice").text());
                            $("#currentprice").text(currentprice);
                        })
                    </script>

                }
            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

