@using WebApp.App_Code.Base;
@model IEnumerable<ClockStore.DTO.WallPaper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}



<p style="margin:3% 50% 0 0;">
    @Html.ActionLink("تعریف کاغذ دیواری جدید", "Create", "", new { @class = "btn btn-info" })
   
</p>
<div class="container-table100">
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <tr class="table100-head">
                    <th class="column1">
                        عنوان
                    </th>
                    <th class="column2">
                        ترتیب
                    </th>
                    <th class="column3">
                        تصویر
                    </th>

                    <th class="column4"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="column1">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="column2">
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td class="column3">
                            <img alt="@item.Title" src="@Url.Action("ShowImage", "Home", new { id = item.FileId })" style="max-height:100px;max-width:100px;" />
                        </td>

                        <td class="column4">
                            @Html.ActionLink("ویرایش", "Edit", new { id = item.WallPaperId }) |
                            @Html.ActionLink("جزییات", "Details", new { id = item.WallPaperId }) |
                            @Html.ActionLink("حذف", "Delete", new { id = item.WallPaperId })
                        </td>
                    </tr>
                }

            </table>
           
        </div>
    </div>
</div>
