@model IEnumerable<ClockStore.DTO.OfferBanner>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_LayoutPanel.cshtml";
    }


<div class="container-table100">
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <tr class="table100-head">

                    <th class="column1">
                        تصویر
                    </th>
                    <th class="column2">
                       عنوان بنر
                    </th>
                    <th class="column3">
                        زمان
                    </th>
                 
                    <th class="column5"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td class="column1">
                            <img alt="@item.Title" src="@Url.Action("ShowImage", "Home", new { id = item.FileId })" style="max-height:100px;max-width:100px;" />
                        </td>
                        <td class="column2">
                            @item.Title
                        </td>
                        <td class="column3">
                            @item.Timer
                        </td>
                      
                        <td class="column5">
                            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("جزییات", "Details", new { id = item.Id }) |
                            @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
