


@*<div class="about">
    <div class="container">
        <div class="about-top grid-1">
            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/deals.jpg" />

                    <a href="/Products/Deals">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.Sales</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/newseason.jpg" />

                    <a href="/Products/NewSeason">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.NewSeason</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/classic.jpeg" />

                    <a href="/Products/Classic">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.Classic</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/sport.jpg" />

                    <a href="/Products/Sport">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.Sport</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/men.jpg" />

                    <a href="/Products/Men">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.Men</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>


            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/women.jpg" />
                    <a href="/Products/Women">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.Women</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/kids.jpg" />

                    <a href="/Products/Kids">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.Kids</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/Clock.jpg" />

                    <a href="#">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.Clock</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <div class="about-left col-md-4 menu-flow">
                <figure class="effect-bubba">

                    <img class="img-responsive img-menu" src="~/images/Menu/DesktopClock.jpg" />

                    <a href="#">
                        <figcaption>
                            <h2>@WebApp.Resources.Design.Design.DesktopClock</h2>
                        </figcaption>
                    </a>
                </figure>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>*@
