@model ClockStore.DTO.Slider
@using WebApp.App_Code.Base;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}



@using (Html.BeginForm("Edit", "Sliders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <div class="clearfix" style="margin-top:50px"></div>
    <div class="container">
        <hr />
        @Html.HiddenFor(model => model.SliderId)
        @Html.HiddenFor(model => model.LangId)
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4 text-center">
                    عنوان
                </div>
                <div class="col-md-8">
                    <input type="text" id="Price" value="@Model.Title" name="Price" class="form-control" required />

                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 text-center">
                    اسلاید اصلی است؟
                </div>
                <div class="col-md-8">
                    <input type="checkbox" id="IsMainSlider" value="@Model.IsMainSlider" name="IsMainSlider" />

                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="col-md-4 text-center">
                    تصویر کالا
                </div>
                <div class="col-md-8">
                    <input type="file" class="form-control" id="file" name="file" />
                    <img src="@Url.Action("ShowImage", "Home", new { id = Model.FileId })" style="width:100px;height:100px;" class="thumbnail" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-4 text-center">
                    لینک
                </div>
                <div class="col-md-8">
                    <input type="text" value="@Model.Link" name="Link" id="Link" />

                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-2 text-center">
                توضیحات
            </div>
            <div class="col-md-10">
                <textarea id="Description" name="Description" style="height:200px" class="form-control">@Model.Description</textarea>

            </div>


        </div>





        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4 text-center">

                </div>
                <div class="col-md-8">
                    <input type="submit" value="دخیره" class="btn btn-success" />
                    @Html.ActionLink("بازگشت", "Index", "", new { @class = "btn  btn-primary" })
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>
}


