@using WebApp.App_Code.Base;
@model IEnumerable<ClockStore.DTO.Slider>

@{
    ViewBag.Title = "اسلایدر";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}



<div class="container-table100">
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <tr class="table100-head">
                    <th class="column1">
                        تصویر
                    </th>
                    <th class="column2">
                        عنوان
                    </th>
                   
                    <th class="column3">
                       اسلاید اصلی است؟
                    </th>
                    <th class="column4"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="column1">
                            <img alt="@item.Title" src="@Url.Action("ShowImage", "Home", new { id = item.FileId })" style="max-height:100px;max-width:100px;" />
                        </td>
                        <td class="column2">
                            @item.Title
                        </td>
                       
                        <td class="column3">
                            @{
                                if (item.IsMainSlider)
                                {
                                    <span>بله</span>
                                }
                                else
                                {
                                    <span>خیر</span>
                                }

                            }
                        </td>
                        <td class="column4">
                            @Html.ActionLink("ویرایش", "Edit", new { id = item.SliderId }) |
                            @Html.ActionLink("جزییات", "Details", new { id = item.SliderId }) |
                            @Html.ActionLink("حذف", "Delete", new { id = item.SliderId })
                        </td>
                    </tr>
                }

            </table>
            <p>
                @Html.ActionLink("تعریف اسلاید جدید", "Create", "", new { @class = "btn btn-info" })
            </p>
        </div>
    </div>
</div>