@model IEnumerable<ClockStore.DTO.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}




<div class="container-table100">
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <tr class="table100-head">
                    <th class="column1">
                        نام
                    </th>
                    <th class="column2">
                        نام خانوادگی
                    </th>
                    <th class="column3">
                        نام کاربری
                    </th>
                   
                  
                    <th class="column4">
                        تلفن
                    </th>
                   
                    <th class="column5"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="column1">
                            @item.FirstName
                        </td>
                        <td class="column2">
                            @item.LastName
                        </td>
                        <td class="column3">
                            @item.UserName
                        </td>
                       
                        
                        <td class="column4">
                            @item.Phone
                        </td>
                       
                        <td class="column5">
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |*@
                            @Html.ActionLink("جزییات", "Details", new { id = item.CustomerId }) 
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })*@
                        </td>
                    </tr>
                }

            </table>

            @*<p>
                @Html.ActionLink("تعریف مشتری", "Create", "", new { @class = "btn btn-info" })
            </p>*@
        </div>
    </div>
</div>