@using WebApp.Resources.Design;
@{
    ViewBag.Title = Design.Login;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Signin", "Customers", FormMethod.Post))
{

    <div class="account">
        <div class="container">
            <div class="account-top heading">
                <h2>@Design.ACCOUNT</h2>
            </div>
            <div class="account-main">
                <div class="col-md-6 account-left">
                    <h3>@Design.ExistingUser</h3>
                    <div class="account-bottom">
                        <input placeholder="@Design.Email" name="email" id="email" type="text" tabindex="3" required>
                        <input placeholder="@Design.Password" name="password" id="password" type="password" tabindex="4" required>
                        <div class="address">
                            @*<a class="forgot" href="#">Forgot Your Password?</a>*@
                            <input type="submit" value="@Design.Login">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 account-right account-left">
                    <h3>@Design.NewUser</h3>
                    <p>@Design.CreateAccountMessage</p>
                    <a href="/Customers/Create">@Design.CreateanAccount</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}

    <script>
    $(document).ready(function () {
        debugger;
            if ('@ViewBag.Alert' !== "") {
                alertify.error('@ViewBag.Alert');
            }

        })
    </script>