@using WebApp.App_Code.Base;
@model IEnumerable<ClockStore.DTO.Basket>
@using WebApp.Resources.Design;
@using System.Globalization;
@{
    ViewBag.Title = @Design.CHECKOUT;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ckeckout" style="direction:ltr;">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>@Design.CHECKOUT</h2>
        </div>
        <div class="ckeckout-top">
            <div class="cart-items">
                <h3>
                    @*My Shopping Bag (@Model.Count())*@ <span>
                       
                        <a href="/Baskets/FinalApproval" class="btn btn-success">@Design.Next</a>
                    </span>
                </h3>
                <script>
                    $(document).ready(function (c) {
                        $('.close1').on('click', function (c) {
                            debugger;
                            var id = $(this).attr('itemid');
                            $.get('/Baskets/RemoveFromCart?id=' + id + '', function () {
                                debugger;
                                $("div[itemid='" + id + "']").attr("class");
                                $("div[itemid='" + id + "']").parent().fadeOut('slow', function (c) {
                                    debugger;
                                    $("div[itemid='" + id + "']").remove();
                                    alertify.alert("Selected Item Was Removed!")
                                });
                            })


                        });
                    });
                </script>




                <div class="in-check">
                    <ul class="unit">
                        <li><span>@Design.Item</span></li>
                        <li><span>@Design.ProductName</span></li>
                        <li><span>@Design.UnitPrice</span></li>
                        <li><span>@Design.DeliveryDetails</span></li>
                        <li> </li>
                        <div class="clearfix"> </div>
                    </ul>
                    @{
                        foreach (var item in Model)
                        {
                            <ul class="cart-header">

                                <div itemid="@item.BasketId" class="close1"> </div>
                                <li class="ring-in">
                                    <a href="/Products/ProductDetails?id=@item.ProductId"><img src="@Url.Action("ShowImage", "Home", new { id = item.Product.FileId })" class="img-responsive" alt="@item.Product.ProductName"></a>
                                </li>
                                <li><span class="name">@item.Product.ProductName</span></li>
                                <li><span id="@item.ProductId+price" class="cost">@Design.PriceSign @item.Product.PriceWithOff.ToString("N0")</span></li>
                                <li>
                                    <span>@Design.Free</span>
                                    <p id="Delivered">@Design.Delivered</p>
                                </li>
                                <div class="clearfix"> </div>
                            </ul>

                        }
                    }


                    @{
                        if (CultureInfo.CurrentCulture.Name == "fa-IR")
                        {
                            <script src="~/Scripts/js/jQuery.persianNumbers-1.0.js"></script>
                            <script>
                                $(document).ready(function () {

                                    $("span[id*=price]").each(function () {
                                        var value = $(this).text();
                                        var res = $.persianNumbers(value);
                                        $(this).text(res);
                                    })

                                    var delivered = $.persianNumbers($("#Delivered").text());
                                    $("#Delivered").text(delivered);
                                })
                            </script>

                        }
                    }





                    <h3>
                        @*My Shopping Bag (@Model.Count())*@ <span>
                           
                        </span>
                    </h3>

                </div>
            </div>
        </div>
    </div>
</div>
