@model ClockStore.DTO.ViewModels.CustomerBasket
@using WebApp.Resources.Design;
@using System.Globalization;
@{
    ViewBag.Title = "FinalApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table tr th {
        width: 20%;
    }

    .row {
        margin-top: 20px;
    }

        .row div {
            font-size: 1.1em;
            font-weight: 200;
        }

    th, td {
        text-align: center;
    }
</style>
<script>
    $(function () {
        $('#DivOfferCode').fadeOut();
        $('#chOffer').on('change', function () {
            debugger;
            if ($(this).is(':checked')) {
                $('#DivOfferCode').fadeIn();

            } else {
                $('#DivOfferCode').fadeOut();

            }
        })
    })
</script>
<div class="container">

    <div class="clearfix"> </div>

    <table class="table table-bordered table-striped table-hover">
        <tr>
            @*<th>
                    Customer Name
                </th>*@
            <th>
                نام کالا
            </th>
            <th>
                کد کالا
            </th>

            <th>
                نخفیف
            </th>
            <th>
                قیمت با احتساب تخفیف
            </th>

        </tr>

        @foreach (var item in Model.Baskets)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Product.Off)
                </td>
                <td id="@item.BasketId+price">
                    @Html.DisplayFor(modelItem => item.Product.PriceWithOffForFacror)
                </td>
            </tr>
        }
        <tr style="background-color:#686363;color:white">
            <td>@Design.TotalAmount</td>
            <td id="TotalAmount" colspan="5">@ViewBag.TotalAmount.ToString("N0")</td>

        </tr>
    </table>



    @using (Html.BeginForm("FinalApproval", "Baskets", FormMethod.Post, new { onsubmit = "return Validation(this)" }))
    {
        <div style="margin-top:50px;" class="clearfix"> </div>


        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
                <div class="checkbox" style="text-align:right">
                    <label><input type="checkbox" id="chOffer">استفاده از کد تخفیف</label>
                </div>
            </div>
            <div class="col-md-6 pull-right">

            </div>
        </div>

        <div class="row" id="DivOfferCode">
            <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                <input type="text" id="offerCode" name="offerCode" class="form-control" />
            </div>
            <div class="col-md-9 pull-right" style="color:#f23737">
                @ViewBag.ErrorOfferCard
            </div>
        </div>



        <div style="margin-top:50px;" class="clearfix"> </div>
        <input type="hidden" value="@Model.Customer.CustomerId" name="CustomerId" />
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <h3>تایید اطلاعات</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4 text-center">
                            نام
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="@Model.Customer.FirstName" id="FirstName" name="FirstName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4 text-center">
                            نام خانوادگی
                        </div>
                        <div class="col-md-8">
                            <input type="text" value="@Model.Customer.LastName" id="LastName" name="LastName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4 text-center">
                            ایمیل
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="Email" value="@Model.Customer.Email" name="Email" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4 text-center">
                            تلفن تماس
                        </div>
                        <div class="col-md-8">
                            <input type="text" id="Phone" value="@Model.Customer.Phone" name="Phone" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2 text-center">
                        آدرس
                    </div>
                    <div class="col-md-10">
                        <textarea id="Address" name="Address" style="height:150px" class="form-control">@Model.Customer.Address</textarea>

                    </div>


                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4 text-center">

                        </div>
                        <div class="col-md-8">
                            <input type="submit" value="تایید و پرداخت" class="btn btn-success" />

                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>

            </div>
        </div>
    }
    <script>
        function Validation(form) {

            var firstname = $("#FirstName").val();
            var lastname = $("#LastName").val();
            var email = $("#Email").val();
            var address = $("#Address").val();
            var phone = $("#Phone").val();
            if (firstname === "") {
                alertify.error("لطفا نام خود را وارد کنید");
                return false;
            } else if (lastname === "") {
                alertify.error("لطفا نام خانوادگی خود را وارد کنید");
                return false;
            } else if (email === "") {
                alertify.error("لطفا ایمیل خود را وارد کنید")
                return false;
            } else if (address === "") {
                alertify.error("لطفا آدرس خود را وارد کنید")
                return false;
            } else if (phone === "") {
                alertify.error("لطفا تلفن خود را وارد کنید")
                return false;
            } else {
                return true;
            }
        }
    </script>

    @{
        if (CultureInfo.CurrentCulture.Name == "fa-IR")
        {
            <script src="~/Scripts/js/jQuery.persianNumbers-1.0.js"></script>
            <script>
                $(document).ready(function () {
                    var value = $("#TotalAmount").text();
                    var res = $.persianNumbers(value);
                    $("#TotalAmount").text(res);


                    $("td[id*=price]").each(function () {
                        var value = $(this).text();
                        var res = $.persianNumbers(value);
                        $(this).text(res);
                    })


                })
            </script>

        }
    }
</div>

