@model IEnumerable<ClockStore.DTO.Basket>
    @{
        ViewBag.Title = "FinalApproval";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


<div class="container">
  
    <div class="clearfix"> </div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Code
            </th>
            <th>
                Order Registration Date
            </th>
            <th>
                Off
            </th>
            <th>
                The amount payable
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Off)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.PriceWithOffForFacror)
                </td>
            </tr>
        }
        <tr style="background-color:#686363;color:white">
            <td>Total Amount</td>
            <td>@ViewBag.TotalAmount</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    

</div>

